.header__ {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px 110px 0px;
}

.header_link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
}

.header_box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header_box:nth-of-type(1){
    justify-content: flex-start;
}

.hheader_logo {
    margin-left: -50px;
}


.mpbile-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 20px 10px;
}